/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
                             /*ITERATION 1*/

@media (width < 768px) 

{

    nav, header {background-color: #540B51;} 

    main {background-color: #F3EAE2;}

    div button:last-child {  background-color: #4285F4;}
    h1, h3 {color:#191817;}

    p {color:#000000;}
    
    p span {color: #ECB12F;}

    a {color: #2E71A6;}

    footer ul li {color: #454245;}
                            

}

#logos img {width: 50%;}
                                  /*ITERATION 2*/
@media (width > 768px) and (width <1024px)    {

    header {
            display: flex; 
            flex-direction: row;
             }

    #logos {
            display: flex; 
            flex-direction: row;
             }

    #elements {
            display: flex; 
            flex-direction: row;
                }

    footer ul {
             display: flex; 
            flex-direction: row;
                }
}      
